

.App {
  text-align: center;

  box-sizing: border-box;
  
  background-color: #e8e6ef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
}








